body {
    font-family: Arial, sans-serif;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background:white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.options {
    margin-top: 20px;
}

.option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    cursor: pointer;
    border: none;
    background: #007bff;
    color:red;
    border-radius: 5px;
}

.option:hover {
    background: #0056b3;
}

#nextBtn {
    margin-top: 15px;
    padding: 10px;
    background: green;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nextBtn:hover {
    background: darkgreen;
}